services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nginx_proxy_sub
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - letsencrypt:/etc/letsencrypt/
      - certbot:/var/www/certbot/
    restart: always

volumes:
  letsencrypt:
  certbot:
